@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:400,500,600,700&subset=latin-ext');

body {background-color: #E0DBC6; margin: 0;}

/* ------------------
        GRID
   ------------------ */
.grid-container{ display: grid;
  grid-template-columns: [line1] 21vw [line2] 4vw [line3] 21vw [line4] 4vw [line5] 21vw [line6] 4vw [line7] 21vw [line8] 4vw [line9];
  grid-template-rows: [row2] 7% [row3] 17% [row4] 7% [row5] 17% [row6] 7% [row7] 17% [row8] 7% [row9] 17% [row10];
  overflow: hidden;
}
.r1{ /*grid-column-start: 3;grid-row-end: 3;*/
      position: absolute; top: -17vh; left:25vw;}
.r2{ grid-column-start: 5;
    grid-row-start: 2; grid-row-end: 5;}
.r3{ grid-column-start: 5;
    grid-row-start: 8;}
.b1{ /*grid-column-start: 5;grid-row-end: 3;*/
    position: absolute; top: -17vh; left:50vw;}
.b2{grid-column-start: 5;
    grid-row-start: 4; grid-row-end: 8;
      z-index:19;}
.b3{grid-column-start: 7;
    grid-row-start: 4; grid-row-end: 8;}

@@keyframes moveb2 {
  0% {transform: translate(0,0);}
  100% {transform: translate(-300px,0);}
}
.b2 {animation: moveb2 1s cubic-bezier(.1,.68,.53,.99);  animation-play-state: paused;}
.b2:hover {animation-fill-mode: backwards;animation-play-state: running;}


/* .b2{ transition: all 1s ease-in;
    -webkit-transition: all 1s ease-out;}
.b2:hover {    transform: translate(-25vw,0);
-webkit-transform: translate(-25vw,0);} */




/* ------------------
        TEXT
   ------------------ */

h1, p, .reference { color: #0C2E3D; font-family: 'Hind Guntur', sans-serif;
        position:fixed; }
h1 {font-size: 40px; font-weight: 600; line-height: 43px;}
p {font-size: 14px; font-weight: 400; line-height: 18px;}
.reference{font-size: 14px; font-weight: 700;
          /*padding: 5px;
          border-style: solid; border-color: #0C2E3D; border-width: 2px; border-radius: 5px;*/
         }


h1 { left: 3vw; top: 10px; z-index: 10;}
.info1 { left: 3vw; top: 290px; z-index: 10;}
.info2 { left: 3vw; top: 370px; z-index: 10;}
.reference { width:500px; margin-left: -250px; left:50%;bottom: 3vh; z-index: 21; text-align: center;}


/* ------------------
        OG POSTER
   ------------------ */

#bg { background-color: rgba(255,255,255,0.8); z-index: 20; width: 100vw; height: 100vh;
  display:flex; justify-content: center;align-items: center; opacity: 0
  ;transition: all 1s ease; pointer-events: none;
}

#bg.show { background-color: rgba(255,255,255,0.9); z-index: 20; width: 100vw; height: 100vh;
  display:flex; justify-content: center;align-items: center; opacity: 1;
  transition: all 1s ease; pointer-events: none;}
.og-poster {z-index: 30; }

#button{
  font-family: 'Hind Guntur', sans-serif; cursor: pointer;
}

.og-poster{width:80vw; position: absolute;top:15vh; margin-left: -40vw; left:50%;}



/* ------------------
        CIRCLES
   ------------------ */

.grid-container{position:relative; width: 100vw; height: 100vh;}

.circle{
 height: 300px;
 width: 300px;
 border-radius: 50%;
 position: absolute;
}

.red-circle{ background-color: #992828; opacity: 0.5;}
.blue-circle{ background-color: #1B6494; opacity: 0.5;}
