@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Ubuntu:300,400,500,700');

html{scroll-behavior: smooth;}

body, h1, div{margin:0;}
h1{font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 150px;
/* transform: rotate(7deg); */
}
.date{position: fixed;left:50px;}
.Jan23{position: fixed; top:30px; right:180px; color: black;
  font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size:20px; text-decoration: none; text-align: center;
  border: 3px solid black; border-radius: 20px; padding: 3px 10px; background-color: lightsalmon;}
.Jan23:visited{color: black;}
.Jan25{position: fixed; top:30px; right:86px; color: black;
  font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size:20px; text-decoration: none; text-align: center;
  border: 3px solid black; border-radius: 20px; padding: 3px 10px; background-color: lightsalmon;}
.Jan25:visited{color: black;}
.Home{position: fixed; top:30px; right:40px; color: black;
  font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size:20px; text-decoration: none; text-align: center;
  border: 3px solid black; border-radius: 20px; padding: 3px 10px; background-color: lightsalmon;}
.Home:visited{color: black;}


.ground{font-size: 30px;}
.cross{color: tomato; opacity:1;}
.cloud{position: fixed; left:80px; top:50px;}

/* .header{display:block; background-color: black; top:300px;}
.stickyheader{position:fixed; top:0;} */
#day2{height:5000px; background-color: peachpuff
; position:relative; }
.building-MET{position:fixed; top:360px; left:7vw; z-index: 15;}
.building-BS1{position:fixed; top:429px; left:40vw; z-index: 15;}
.building-BS2{position:fixed; top:429px; left:83vw; z-index: 15;}

#moi{position: fixed; top:500px; z-index: 20; pointer-events: none}
#moibox{height:24px; width:1400px;background-color: lightsalmon; position: absolute; top:103px; left:72px;}

.location{
  /* font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 20px;  */
font-family: 'Inconsolata', monospace;font-weight: 700; font-size: 24px;
pointer-events: none }


.lo1{position: fixed; top:600px; left:18vw; z-index: 10;}
.lo2{position: fixed; top:600px; left:43vw; z-index: 10;}
.lo3{position: fixed; top:600px; left:86vw; z-index: 10;}

.ground{width:100vw; height:250px; bottom:0px; z-index: 0; border-top: 3px solid black;
  background-color: lightsalmon; position: fixed; }

.building-img{cursor: url('reader_small2.png'), auto;}

.body{position: relative;}
.info{display:block; font-family: 'Inconsolata', monospace;font-weight: 700; font-size: 20px;}

.METinfo{position: fixed; top:130px; left:15vw;}
.METbubble{position: fixed; top:130px; left:13vw;}

.BSinfo1{position: fixed; top:130px; left:39vw;}
.BSbubble1{position: fixed; top:130px; left:37vw;}

.BSinfo2{position: fixed; top:130px; left:82vw;}
.BSbubble2{position: fixed; top:130px; left:80vw;}

.normal{opacity: 0;}
.hovered{opacity: 1;}


/* -------------
Typing animation
---------------- */
@keyframes type1 { from {width:0ch;} to {width:18ch;}}
.type1{animation: type1 2.5s steps(18); overflow:hidden; white-space: nowrap; border-right: 3px solid black; width:8ch;
animation-iteration-count: infinite; animation-direction: alternate;}

@keyframes type2 { from {width:0ch;} to {width:11ch;}}
.type2{animation: type2 2.3s steps(11); overflow:hidden; white-space: nowrap; border-right: 3px solid black; width:8ch;
animation-iteration-count: infinite; animation-direction: alternate;}

@keyframes type3 { from {width:0ch;} to {width:12ch;}}
.type3{animation: type3 2.3s steps(12); overflow:hidden; white-space: nowrap; border-right: 3px solid black; width:8ch;
animation-iteration-count: infinite; animation-direction: alternate;}
