@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800');

:root {
  --mainColor: #ff9800;
}
html {scroll-behavior: smooth;}
body {
  font-family: 'Merriweather Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

.previewbox{ width:90%; height:300px; border: 3px solid black; overflow: hidden; margin-left: 5%;}
.previewbox:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}
.previewbox img{margin: 0 0 -10px -315px;}

.blank{height:7px; width: 100%;}
p{width:90%; line-height: 30px; margin-left:5%; font-size: 15px;}

h1{color: white; background-color: black; margin-top:50px; position: relative; width:300px; margin-left:-150px; left:50%; font-size: 24px; text-align: center;}
a{color:black; text-decoration: none;}
h3{margin-left:5%;}

.column1{position: absolute; top:0; left:0 opacity: 0; z-index: -10; height: 0;}
.nav{position: absolute;height: 0; width: 0; top:0; left:0; opacity:0; z-index: -10;}


/* -----------------
      nav
  -------------------*/
.opennn{position: absolute; top: 10px; left:10px;}

  .sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#ffdeae;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #mySidenav{line-height: 30px; font-size: 16px;}
  .closebtn {font-size: 36px;
    position: absolute;
    top: 10px;
    right: 25px;
    margin-left: 50px;
  }

  .mnav-big{font-size: 20px; font-weight: 600;
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  	background-position: 0 100%;
  	background-repeat: repeat-x;
  	background-size: 4px 4px;
    color: black;
    text-decoration: none;
  }
  .mnavs{font-size: 16px; font-weight: 600;}

  a{  text-decoration: none;
    color: black;}

  .mblank{height:5px; width: 100%;}

  .mnavvv{position: absolute; left:60px; top:100px; line-height: 40px;}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
  }
  .mnav-pj3{color: white; background-color: black;}
